.device-filter {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.device-filter > * {
  width: 570px;
}

.device-filter__btns {
  display: flex;
  gap: 20px;
}

.device-filter__btns > button {
  white-space: nowrap;
}

.device-filter__btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.device-filter__title {
  font-size: 10px;
}

@media (max-width: 1024px) {
  .device-filter {
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .device-filter {
    flex-direction: column;
    min-width: 100%;
  }

  .device-filter > * {
    max-width: calc(100vw - 60px);
  }

  .device-filter__btns {
    flex-wrap: wrap;
  }
}
