.device-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px 30px;
}

@media (max-width: 576px) {
  .device-list {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}
